    @media screen and (min-width: 304px) {
 
  }

  @media screen and (min-width: 752px) {

  }

  @media screen and (min-width: 1264px) {

  }


.about {
    padding-top: 136px;
    padding-bottom: 100px;

      @media screen and (min-width: 752px) {
padding-top: 194px;
  }

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        margin-bottom: 32px;
          @media screen and (min-width: 752px) {
gap: 16px;
margin-bottom: 30px;
  }
    @media screen and (min-width: 1264px) {
        margin-bottom: 26px;
  }

    }

    &__title {
        color: $title-color;
font-size: 24px;
font-weight: 700;
line-height: 1.2;

  @media screen and (min-width: 752px) {
font-size: 44px;
  }
    }

  &__line {
    width: 183px;
height: 1px;
background-color: $title-color;

  @media screen and (min-width: 752px) {
width: 538px;
  }

  @media screen and (min-width: 1264px) {
width: 1050px;
  }
  }  

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

      @media screen and (min-width: 752px) {
        flex-direction: row;
        gap: 54px;
  }

  @media screen and (min-width: 1264px) {
    gap: 90px;
  }
  }

  &__text {
    color: $title-color;
font-size: 16px;
font-weight: 400;
line-height: 1.2;
width: 288px;

  @media screen and (min-width: 752px) {
font-size: 20px;
width: 322px;
  }

  @media screen and (min-width: 1264px) {
    font-size: 22px;
width: 510px;
  }
  }

  &__img {
    width: 288px;
height: 178px;

  @media screen and (min-width: 752px) {
width: 344px;
height: 217px;
  }

  @media screen and (min-width: 1264px) {
width: 632px;
height: 344px;
  }
  }
}