.blog {
   padding-bottom: 60px; 

     @media screen and (min-width: 752px) {
        padding-bottom: 100px;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 32px;
    @media screen and (min-width: 752px) {
      gap: 16px;
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1264px) {
      margin-bottom: 80px;
    }
  }

  &__title {
    color: $title-color;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;

    @media screen and (min-width: 752px) {
      font-size: 44px;
    }
  }

  &__line {
   width: 202px;
    height: 1px;
    background-color: $title-color;

    @media screen and (min-width: 752px) {
     width: 573px;
    }

    @media screen and (min-width: 1264px) {
      width: 1085px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

      @media screen and (min-width: 752px) {
        gap: 32px;
  }
  }

  &__text {
    color: $title-color;
text-align: center;
font-size: 18px;
font-weight: 500;
line-height: 1.2;
margin-top: 28px;
margin-bottom: 32px;
  @media screen and (min-width: 752px) {
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 40px;
  }

    @media screen and (min-width: 1264px) {
        margin-top: 44px;
        margin-bottom: 48px;
  }
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &__btn {
    color: $text-color;
font-size: 18px;
font-weight: 500;
line-height: 1.3;
background-color: $menu-color;
border-radius: 38px;
padding: 14px 28px;

  @media screen and (min-width: 752px) {
font-size: 28px;
line-height: 1.2;
padding: 16px 32px;
  }
  }

  &__icon {
    fill: black;
  }
}

