  .header {
    padding-top: 16px;

  @media screen and (min-width: 752px) {
    padding-top: 24px;
  }

  @media screen and (min-width: 1264px) {
    padding-top: 28px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    margin-right: auto;
  }

  &__icon {
    width: 45px;
    height: 35px;

  @media screen and (min-width: 752px) {
width: 72px;
height: 57px;
  }
  }

  &__list {
    display: none;

     @media screen and (min-width: 752px) {
        display: flex;
        gap: 24px;
        align-items: center;
  }

  @media screen and (min-width: 1264px) {
    gap: 48px;
  }

  }

  &__link {
    color: $title-color;
font-size: 20px;
font-weight: 400;
line-height: 1.2;
  }

  &__phone {
    background-color: transparent;
      @media screen and (min-width: 752px) {
margin-left: 75px;
  }

  @media screen and (min-width: 1264px) {
margin-left: 306px;
  }
  }

  &__img {
    width: 22px;
height: 22px;

  @media screen and (min-width: 752px) {
width: 24px;
height: 24px;
  }

  @media screen and (min-width: 1264px) {
    width: 28px;
height: 28px;
  }
  }
  
  &__button{
  background: none;
  border: transparent;
  margin-left: 14px;
  @media screen and (min-width: 752px)  {
    display: none;
   }
  }
  
   &__eacon{
     width: 24px;
  height: 24px;
     fill: $title-color;
   }
  
  .menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: $menu-color;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    opacity: 1;
  padding-top: 124px;
  padding-bottom: 180px;
  z-index: 1;
  
  &__btn{
    border: none;
    background: transparent;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  
  &.is-hidden{
    pointer-events: none;
    opacity: 0;
   
  }
  
  &__icon{
    width: 24px;
   height: 24px;
   fill: $text-color;
  }
  
  &__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
  }
  
  &__link{
  color: $text-color;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  }
  }
}


  

